.register_right{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
    background: var(--color-primary);
}
.register_left{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.register_right .bg-login{
    position: absolute;
}

.register_left form{
    width: 50%;
}
