.register_right{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
    background: var(--color-primary);
}
.register_left{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.register_right .bg-login{
    position: absolute;
}

.register_left form{
    width: 50%;
}

.register_left form h1{
    margin: 1rem 0 2rem 0 ;
    color: var(--color-primary-darker);
}

.register_left form p{
    width: 400px;
    margin-bottom: 3rem;
}

.register_left button{
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}

.register_left button:hover{
    background: var(--color-secundary-dark);
}

.register_left button button:focus{
    border: none;
}
